[ req ]
default_bits       = 2048
distinguished_name = req_distinguished_name
req_extensions     = req_ext
prompt             = no
[ req_distinguished_name ]
countryName                 = US
stateOrProvinceName         = CA
localityName               = San Francisco
organizationName           = esportsdrafts
commonName                 = esportsdrafts.localhost
[ req_ext ]
subjectAltName = @alt_names
[alt_names]
DNS.1   = esportsdrafts.localhost
DNS.2   = api.esportsdrafts.localhost
